{#
/**
 * @file
 * Theme override to display a UMD Terp Events Paragraph.
 */
#}

{% block paragraph %}
  <div{{attributes.setAttribute('id','umd_terp_paragraph--'~paragraph.id())}}>

    {% block content %}
      {% if content.field_ut_events_title|field_value %}
        <h2 class="widget-heading h3">{{ content.field_ut_events_title|field_value }}</h2>
      {% else %}
        <h2 class="widget-heading h3">Events</h2>
      {% endif %}

      {# <umd-feed-events row-count="1" lazyload="true" token="{{ ut_events_api_token }}"></umd-feed-events> #}

      {% if ut_events_list[0] %}

        <div class="umd-layout-grid-gap-three">
          {% for evnt in ut_events_list %}

            <umd-element-event show-time="false" display="">
              <img slot="image" src="{{ evnt.image[0].url }}" alt="{{ evnt.image[0].altText }}"/>

              <h2 slot="headline">{{ evnt.title|raw }}</h2>

              <div slot="text">
                {{ evnt.summary|raw }}
              </div>

              <div slot="start-date-iso">{{ evnt.startDate|date("F j, Y") }}</div>
              <div slot="end-date-iso">{{ evnt.endDate|date("F j, Y") }}</div>

              <umd-element-call-to-action slot="actions" data-display="secondary" data-visual-size="" data-theme="light">
                <a href="{{ evnt.url }}" target="_self">
                  View Event
                  <span class="sr-only">{{ evnt.title|raw }}</span>
                </a>
              </umd-element-call-to-action>
            </umd-element-event>

          {% endfor %}
        </div>
      {% else %}
        <div class="text-center">
          <p>Sorry, no upcoming UMD events available.</p>
        </div>
      {% endif %}
    {% endblock %}

  </div>
{% endblock paragraph %}
