{#
/**
 * @file
 * Theme override to display a UMD Terp Card Paragraph.
 */
#}

{% if ut_card_brightness == 'card-group-bg-default' %}
	{% set brightness = 'light'%}
{% else %}
	{% set brightness = 'dark'%}
{% endif %}

{% if content.field_ut_card_link.0 %}
		{% set link = content.field_ut_card_link.0 %}
{% endif %}	

<umd-element-card data-theme="{{ brightness }}" border="false" aligned="false">
	{% if content.field_ut_card_image|field_value %}
		<a slot="image" href="{{ link['#url'] }}" target="{{ link['#options'].attributes.target|default('_self') }}">
			<img src="{{ file_url(content.field_ut_card_image[0]['#media'].field_media_image.entity.uri.value | image_style('optimized')) }}" alt="{{ content.field_ut_card_image[0]['#media'].field_media_image.alt }}"/>
		</a>
	{% endif %}
	{% if content.field_ut_card_title|field_value %}
		<h2 slot="headline">{{ content.field_ut_card_title|field_value }}</h2>
	{% endif %}
	{% if content.field_ut_card_text|field_value %}
		<div slot="text">{{ content.field_ut_card_text|field_value }}</div>
	{% endif %}
	{% if content.field_ut_card_link.0 %}
		<umd-element-call-to-action slot="actions" data-display="secondary" data-visual-size="" data-theme="{{ brightness }}">
			<a href="{{ link['#url'] }}" target="{{ link['#options'].attributes.target|default('_self') }}">
				{{ link['#title'] }}
			</a>
		</umd-element-call-to-action>
	{% endif %}
</umd-element-card>
