{#
/**
 * @file
 * Theme override to display a UMD Terp Slideshow Item Paragraph.
 */
#}

<div slot="images">
	<img src="{{ file_url(content.field_ut_slideshow_item_image[0]['#media'].field_media_image.entity.uri.value | image_style('optimized')) }}" 
	alt="{{ content.field_ut_slideshow_item_image[0]['#media'].field_media_image.alt }}" 
	{% if content.field_ut_slideshow_item_caption|field_value %}
	data-caption="{{ content.field_ut_slideshow_item_caption|field_value }}"
	{% endif %}
	data-reference="{{ paragraph.id() }}"/>
</div>
{% if content.field_ut_slideshow_item_title|field_value %}
<div slot="headlines">
	<h2 data-reference="{{ paragraph.id() }}">{{ content.field_ut_slideshow_item_title|field_value }}</h2>
</div>
{% endif %}
{% if content.field_ut_slideshow_item_text|field_value %}
<div slot="texts">
	<div data-reference="{{ paragraph.id() }}">
		<p>
			{{ content.field_ut_slideshow_item_text|field_value }}
		</p>
	</div>
</div>
{% endif %}