{#
/**
 * @file
 * Theme override to display a UMD Blockquotes Paragraph.
 */
#}

{% set brightness =  'light' %}

{% block paragraph %}
	<blockquote{{attributes.setAttribute('id','umd_terp_paragraph--'~paragraph.id())}}>
		{% block content %}
			<umd-element-quote theme="{{ brightness }}" size="">

				{% if content.field_ut_blockquote_image|field_value %}
					<img slot="image" src="{{ file_url(content.field_ut_blockquote_image[0]['#media'].field_media_image.entity.uri.value | image_style('optimized')) }}" alt="{{ content.field_ut_blockquote_image[0]['#media'].field_media_image.alt }}"/>
				{% endif %}

				<p slot="quote">
					{% set content_body %}
					{{ content.field_ut_blockquote_text|field_value }}
					{% endset %}
					{{ content_body|striptags|raw }}
				</p>

				{% if content.field_ut_blockquote_author|field_value %}
					<p slot="attribution">{{ content.field_ut_blockquote_author|field_value }}</p>
				{% endif %}
				{% if content.field_ut_blockquote_title|field_value %}
					<p slot="attribution-sub-text">xx{{ content.field_ut_blockquote_title|field_value }}</p>
				{% endif %}

				{% if content.field_ut_blockquote_source|field_value %}
					{% if content.field_ut_blockquote_source_url|field_value %}
						{% set link = content.field_ut_blockquote_source_url.0 %}
						<umd-element-call-to-action slot="actions" data-display="secondary" data-visual-size="" data-theme="{{ brightness }}">
							<a href="{{ link['#url'] }}" target="{{ link['#options'].attributes.target|default('_self') }}">
								{{ content.field_ut_blockquote_source|field_value }}
							</a>
						</umd-element-call-to-action>
					{% endif %}
				{% endif %}

			</umd-element-quote>

		{% endblock %}
		{{ content|without('field_ut_blockquote_author', 'field_ut_blockquote_image', 'field_ut_blockquote_source', 'field_ut_blockquote_source_url', 'field_ut_blockquote_text', 'field_ut_blockquote_title') }}
	</blockquote>
{% endblock paragraph %}
