{#
/**
 * @file
 * Theme override to display a UMD Terp News Paragraph.
 */
#}

{% block paragraph %}
  <div{{attributes.setAttribute('id','umd_terp_paragraph--'~paragraph.id())}}>
    {% block content %}
      {% if content.field_ut_news_title|field_value %}
        <h2 class="widget-heading h3">{{ content.field_ut_news_title|field_value }}</h2>
      {% else %}
        <h2 class="widget-heading h3">News</h2>
      {% endif %}

      {% if ut_news_list[0] %}
        <div class="umd-layout-grid-gap-three">
          {% for news in ut_news_list %}

            <umd-element-card theme="light" border="true" aligned="true">

              {% set photo_alt = news.title %}
              {% if news.articlesHeroImage.0 %}
                {% set photo = news.articlesHeroImage.0.url %}
                {% if not ((photo starts with 'http://') or (photo starts with 'https://')) %}
                  {% set photo = 'https://today.umd.edu/' ~ photo %}
                {% endif %}
                {% set photo_alt = news.articlesHeroImage.0.altText %}
                <a slot="image" href="{{ news.url }}" target="_blank">
                  <img src="{{ photo }}" alt="{{ photo_alt }}"/>
                </a>
              {% endif %}
              <div slot="eyebrow">{{ news.postDate|date("F j, Y") }}</div>
              <h2 slot="headline">{{ news.title|raw }}</h2>
              <div slot="text">
                {{ news.summary|raw }}
              </div>
              <umd-element-call-to-action slot="actions" data-display="secondary" data-visual-size="" data-theme="light">
                <a href="{{ news.url }}" target="_self">
                  View Article
                  <span class="sr-only">{{ news.title|raw }}</span>
                </a>
              </umd-element-call-to-action>
            </umd-element-card>

          {% endfor %}
        </div>
      {% else %}
        <div class="text-center">
          <p>Sorry, no news articles available.</p>
        </div>
      {% endif %}
      <div class="text-center mt-4">
        {% if content.field_ut_news_link.0 %}
          {% include directory ~ '/templates/helpers/link.html.twig' with {'link': content.field_ut_news_link.0, 'classes': 'card-group-cta fancy-link' } %}
        {% endif %}
      </div>
    {% endblock %}

  </div>
{% endblock paragraph %}
